.h-flex{
    display:flex;
    justify-content: flex-end;
    width: 1440px
}
.h-flex1{
    padding: 20px;
}
.h-flex2{
    padding: 20px;
}
.h-flex3{
    padding: 20px;
}
.h-flex4{
    padding: 20px;
}
.h-flex5{
    padding: 20px;
}
.b-flex{
    display: flex;
    width: 1440px;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.b-flex1{
    padding: 40px;
    font-size: 90px;
    color:rgb(18, 144, 228);

}
.b-flex2{
    padding: 20px;
}
.botao{
    height: 20px;
    width: 80px;
    background-color:rgb(6, 165, 32);
}